<div class="flex justify-center items-center mt-30 mx-auto">
  <div class="bg-white sm:p-10 p-5 rounded-lg shadow-xl">
    <%= render(HeadingComponent.new(level: :h2, color: :secondary, weight: :bold)) do %>
      Create a new account
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :name,
        type: :text,
        label: "Name",
        required: true,
        autocomplete: "name"
      ) %>

      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :email,
        type: :email,
        label: "Email Address",
        required: true,
        autocomplete: "email"
      ) %>

      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :password,
        type: :password,
        label: "Enter Your Password",
        required: true,
        autocomplete: "new-password",
        minlength: @minimum_password_length,
        help_text: "(#{@minimum_password_length} characters minimum)"
      ) %>

      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :password_confirmation,
        type: :password,
        label: "Confirm Your Password",
        required: true,
        autocomplete: "new-password"
      ) %>

      <%= render(ButtonComponent.new(type: "submit", variant: :primary, full_width: true, size: :lg)) do %>
        Sign Up
      <% end %>
    <% end %>
  </div>
</div>
