<div class="mt-8">
	<%= render "shared/errors", resource: @comment %>
	<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between w-full">
    <%= render(HeadingComponent.new(level: :h3, color: :secondary)) do %>
      Comments
    <% end %>
    <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2 w-full sm:w-auto mt-2 sm:mt-0" data-controller="comment-form">
      <div data-comment-form-target="buttonContainer">
        <%= render(ButtonComponent.new(
          class: "mb-0 sm:mb-4",
          data: {"action" => "click->comment-form#toggle"}
        )) do %>
          Add Comment
        <% end %>
      </div>
      <%= render "comments/form",
            comment: @comment,
            issue: @issue,
            hidden_class: (@comment&.errors&.any? ? "" : "hidden") %>
    </div>
  </div>
  <div class="space-y-4 mt-4">
    <% if @issue.comments.exists? %>
			<%= render partial: "comments/comment", collection: @issue.comments.order(created_at: :desc), as: :comment %>
		<% else %>
      <%= render ParaComponent.new(margin_bottom: false, align: :center) do %>
        No comments yet. Be the first to add one!
      <% end %>
		<% end %>
  </div>
</div>
