<%= form_with(model: issue.persisted? ? issue : [issue.project || @project, issue], class: "space-y-8 rounded-lg") do |form| %>
  <%= render "shared/errors", resource: issue %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-4 sm:mb-2">
    <% if issue.project_id.present? %>
      <div>
        <%= form.hidden_field :project_id %>
        <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :left) do %>
          Project Name
        <% end %>
        <%= render ParaComponent.new(variant: :base, weight: :bold, margin_bottom: false, align: :left) do %>
          <%= Project.find(issue.project_id).title %>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= render InputFieldComponent.new(
        form_builder: form,
        attribute: :title,
        type: :text,
        label: "Issue Title",
        required: true,
        autocomplete: "title"
      ) %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-4 sm:mb-2">
    <div>
      <%= render InputFieldComponent.new(
        form_builder: form,
        attribute: :assigned_to,
        type: :select,
        label: "Assigned To",
        required: false,
        options: @users.map { |u| [u.name, u.id] },
        prompt: "Select a user"
      ) %>
    </div>
    <div>
      <%= render InputFieldComponent.new(
        form_builder: form,
        attribute: :status,
        type: :select,
        label: "Status",
        required: true,
        options: Issue.statuses.keys.map { |k| [k.humanize, k] },
        prompt: "Select a status",
      ) %>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-2 mb-4 sm:mb-2">
    <%= render InputFieldComponent.new(
      form_builder: form,
      attribute: :description,
      type: :textarea,
      label: "Description",
      rows: 5,
    ) %>
  </div>
  <div class="flex justify-end gap-2 mb-4 sm:mb-2">
    <% if issue.persisted? %>
      <%= render LinkComponent.new(href: issue_path(@issue), variant: :outline) do %>
        Cancle
      <% end %>
    <% end %>
    <%= render(ButtonComponent.new(type: "submit", variant: :primary, size: :lg, class: "w-full sm:w-auto")) do %>
      <%= issue.new_record? ? "Create Issue" : "Update Issue" %>
    <% end %>
  </div>
<% end %>
