<div id="<%= dom_id issue %>" 
     class="bg-white rounded-2xl shadow-md border border-gray-200 p-6 hover:shadow-lg transition duration-200">

  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6">
    <h1 class="text-2xl font-extrabold text-gray-900">
      <%= issue.project&.title || "Untitled Project" %>
    </h1>

    <div class="mt-4 sm:mt-0 flex gap-3">
      <%= link_to edit_issue_path(issue),
            class: "inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded-sm shadow-sm hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none transition" do %>
        <i class="fa-solid fa-pen mr-2"></i>
        Edit
      <% end %>

      <%= button_to issue_path(issue), method: :delete,
            data: { turbo_confirm: "Are you sure you want to delete this issue?" },
            class: "inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-red-600 rounded-sm shadow-sm hover:bg-red-700 focus:ring-2 focus:ring-red-500 focus:outline-none transition" do %>
        <i class="fa-solid fa-trash mr-2"></i>
        Delete
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 text-sm">
    <div class="grid grid-cols-2 gap-4">
      <div class="flex ">
        <span class="block text-gray-600 text-md font-semibold">Issue No: </span>
        <p class="text-gray-900 font-medium text-md mx-2"><%= issue.issue_number %></p>
      </div>
      <div class="flex ">
        <span class="block text-gray-600 text-md font-semibold">Created At: </span>
        <p class="text-gray-900 font-medium text-md mx-2"><%= issue.created_at&.strftime("%b %d, %Y") %></p>
      </div>
    </div>
    <div class="mt-2">
      <span class="block text-gray-600 text-sm font-semibold">Title:</span>
      <p class="text-gray-900 font-medium text-xl"><%= issue.title %></p>
    </div>
    <% if issue.description.present? %>
      <div>
        <span class="block text-gray-600 text-sm font-semibold">Description:</span>
        <p class="text-gray-900 font-medium text-lg"><%= issue.description %></p>
      </div>
    <% end %>
    <div>
      <span class="block text-gray-600 text-sm font-semibold">Assigned To:</span>
      <p class="text-gray-900 font-medium text-sm"><%= issue.assigned_to.presence || "Unassigned" %></p>
    </div>

    <div>
      <span class="block text-gray-600 text-sm font-semibold">Status:</span>
      <span class="inline-block mt-1 px-3 py-1 text-sm rounded-sm font-semibold 
        <%= case issue.status
          when "open" then "bg-green-100 text-green-700"
          when "on_hold" then "bg-yellow-100 text-yellow-700"
          when "in_progress" then "bg-blue-100 text-blue-700"
          when "closed" then "bg-gray-200 text-gray-700"
          else "bg-gray-100 text-gray-600"
          end %>">
        <%= issue.status.humanize %>
      </span>
    </div>
  </div>
</div>
