<nav class="justify_between_container px-20 sticky py-2 top-0 z-50 navbar">
  <div class="justify_between_container ml-20">
    <%= link_to projects_path, class: "link_hover_blue text-2xl font-bold" do %>
      Issues Tracker
    <% end %>
  </div>

  <div class="flex items-center space-x-6">
    <% if user_signed_in? %>
      <p class="small_para"><%= current_user.name %></p>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn_outline_white py-1" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn_outline_white my-2 py-1" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn_outline_white my-2 py-1" %>
    <% end %>
  </div>
</nav>
