<% flash.each do |type, message| %>
  <% bg_color, border_color, text_color = case type.to_sym
      when :notice
        ['bg-green-100', 'border-green-500', 'text-green-700']
      when :alert
        ['bg-red-100', 'border-red-500', 'text-red-700']
      when :info
        ['bg-blue-100', 'border-blue-500', 'text-blue-700']
      when :warning
        ['bg-yellow-100', 'border-yellow-500', 'text-yellow-700']
      else
        ['bg-gray-100', 'border-gray-500', 'text-gray-700']
      end %>

  <div class="<%= bg_color %> border-l-4 <%= border_color %> <%= text_color %> p-4 mb-4 rounded-lg shadow-md flex items-start space-x-3" role="alert">
    <div class="flex-1">
      <%= render ParaComponent.new(variant: :extra_small, weight: :normal, margin_bottom: false, align: :left) do %>
        <%= type.to_s.titleize %>
      <% end %>
      <%= render ParaComponent.new(variant: :extra_small, weight: :bold, margin_bottom: false, align: :left) do %>
        <%= message %>
      <% end %>
    </div>
    <%= render(ButtonComponent.new(
      type: :button,
      variant: :icon_only,
      size: :xs,
      icon: '<i class="fas fa-xmark"></i>',
      onclick: "this.parentElement.remove()"
    )) %>
  </div>
<% end %>