<%= form_with(model: project) do |form| %>
  <%= render "shared/errors", resource: project %>

  <div class="mt-4">
    <%= render InputFieldComponent.new(
      form_builder: form,
      attribute: :title,
      type: :text,
      label: "Title",
      required: true,
      autocomplete: "title"
    ) %>
  </div>

  <div class="flex flex-col space-y-3 sm:flex-row sm:justify-between sm:items-center sm:space-y-0 sm:space-x-3">
    <%= render LinkComponent.new(
          href: project.new_record? ? projects_path : project_path(project),
          variant: :outline,
          class: "w-full sm:w-auto text-center"
        ) do %>
      <%= project.new_record? ? "Back To Projects" : "Back To Project" %>
    <% end %>

    <%= render(ButtonComponent.new(type: "submit", size: :lg, class: "w-full sm:w-auto")) do %>
      <%= project.new_record? ? "Create Project" : "Update Project" %>
    <% end %>
  </div>
<% end %>
