<%= form_with(model: project, class: "space-y-6 w-full max-w-xl") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="error_div mt-2">
      <strong><%= pluralize(project.errors.count, "error") %></strong> prohibited this project from being saved:
      <ul class="error_ul">
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.label :title, "Project Title", class: "small_para" %>
    <%= form.text_field :title, class: ["text_inp mt-1", project.errors[:title].any? ? "border-red-500" : "border-gray-300"] %>
  </div>

  <div class="flex justify-start">
    <%= form.submit(project.new_record? ? "Create Project" : "Update Project", class: "btn_primary py-2") %>
  </div>
<% end %>
