<div data-controller="issues-search" class="w-full" id="issues-container">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4 md:mb-2 md:mt-6 mt-4">
    <%= render ParaComponent.new(variant: :base, margin_bottom: false) do %>
      Total Issues: <%=  @project.issues.count %>
    <% end %>
    <%= render Search::SearchComponent.new(
      name: "query",
      id: "issues-search",
      data: { "issues-search-target" => "search" },
      placeholder: "Search Issue"
    ) %>
  </div>
  <div id="issues" class="w-full">
    <% if @project.issues.any? %>
      <div class="w-full overflow-x-auto md:overflow-x-auto lg:overflow-x-visible">
        <table class="min-w-3xl md:min-w-auto w-full border border-gray-200 divide-y divide-gray-200 rounded-xl shadow-sm table-fixed">
          <thead class="bg-gray-100">
            <tr>
              <th class="p-2 whitespace-nowrap w-16">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Issue No
                  <i class="fa-solid fa-sort sort_icon"
                    data-action="click->issues-search#sort"
                    data-sort="issue_number">
                  </i>
                <% end %>
              </th>
              <th class="p-2 whitespace-nowrap w-48">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Title
                  <i class="fa-solid fa-sort sort_icon"
                    data-action="click->issues-search#sort"
                    data-sort="title">
                  </i>
                <% end %>
              </th>
              <th class="p-2 whitespace-nowrap w-32">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Date Created
                  <i class="fa-solid fa-sort sort_icon"
                    data-action="click->issues-search#sort"
                    data-sort="created_at">
                  </i>
                <% end %>
              </th>
              <th class="p-2 whitespace-nowrap w-28">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Assigned To
                  <i class="fa-solid fa-sort sort_icon"
                    data-action="click->issues-search#sort"
                    data-sort="assigned_to">
                  </i>
                <% end %>
              </th>
              <th class="p-2 whitespace-nowrap w-16">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Status
                  <i class="fa-solid fa-sort sort_icon"
                    data-action="click->issues-search#sort"
                    data-sort="status">
                  </i>
                <% end %>
              </th>
              <th class="p-2 whitespace-nowrap w-32">
                <%= render ParaComponent.new(variant: :small, margin_bottom: false, align: :center) do %>
                  Action
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 tableBody" data-issues-search-target="tableBody">
            <% @project.issues.each do |issue| %>
              <tr data-id="<%= issue.id %>" class="text-sm">
                <td class="issue_number">
                  <%= render ParaComponent.new(variant: :extra_small, margin_bottom: false, align: :center) do %>
                    <%= issue.issue_number %>
                  <% end %>
                </td>
                <td class="title">
                  <%= render ParaComponent.new(variant: :small, weight: :bold, margin_bottom: false, align: :center, class: "break-words") do %>
                    <%= issue.title %>
                  <% end %>
                </td>
                <td class="created_at">
                  <%= render ParaComponent.new(variant: :extra_small, margin_bottom: false, align: :center) do %>
                    <%= issue.created_at.strftime("%b %d, %Y %H:%M") %>
                  <% end %>
                </td>
                <td class="assigned_to">
                  <%= render ParaComponent.new(variant: :extra_small, margin_bottom: false, align: :center, class: "break-words") do %>
                    <%= issue.assigned_to.present? ? User.find(issue.assigned_to).name : "Unassigned" %>
                  <% end %>
                </td>
                <td class="status">
                  <%= render ParaComponent.new(
                        variant: :extra_small,
                        align: :center,
                        margin_bottom: false,
                        class: "py-1 px-1.5 rounded-lg " + case issue.status
                                when "open"        then "bg-green-100 text-green-700"
                                when "on_hold"     then "bg-yellow-100 text-yellow-700"
                                when "in_progress" then "bg-blue-100 text-blue-700"
                                when "closed"      then "bg-gray-200 text-gray-700"
                                else                     "bg-gray-100 text-gray-600"
                                end
                      ) do %>
                    <%= issue.status.humanize %>
                  <% end %>
                </td>
                <td class="flex items-center justify-center">
                  <%= render partial: "shared/table_actions", locals: { resource: issue } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <ul class="pagination flex justify-center mt-4 space-x-2"></ul>
    <% else %>
      <div class="flex justify-center items-center mx-auto py-4 md:py-8">
        <%= render ParaComponent.new(variant: :base, margin_bottom: false) do %>
          No issues found. Start by creating a new one!
        <% end %>
      </div>
    <% end %>
  </div>
</div>
