<div class="items_center_container mx-auto mt-40">
  <div class="max-w-md w-full bg-white p-10 rounded-lg shadow-xl">
    <h2 class="heading_base mb-4">Log in to your account</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "small_para" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_inp" %>
      </div>

      <div class="mb-6">
        <%= f.label :password, class: "small_para" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "text_inp" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center mb-2">
          <%= f.check_box :remember_me, class: "check_box_inp" %>
          <%= f.label :remember_me, class: "small_para ml-2" %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= f.submit "Log in", class: "btn_primary w-full py-2" %>
      </div>
    <% end %>
  </div>
</div>
