<div class="flex justify-center items-center mx-auto mt-40">
  <div class="sm:p-10 p-5 bg-white rounded-lg shadow-xl">
    <%= render(HeadingComponent.new(color: :secondary)) do %>
      Login to your account
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :email,
        type: :email,
        label: "Email Address",
        required: true,
        autocomplete: "email"
      ) %>

      <%= render InputFieldComponent.new(
        form_builder: f,
        attribute: :password,
        type: :password,
        label: "Enter Your Password",
        required: true,
        autocomplete: "password"
      ) %>

      <% if devise_mapping.rememberable? %>
        <%= render CheckboxComponent.new(
          label: "Remember Me",
          checked: true,
          required: false
        ) %>
      <% end %>

      <div class="mb-2">
        <%= render(ButtonComponent.new(type: "submit", full_width: true, size: :lg)) do %>
          Log in
        <% end %>
      </div>
    <% end %>
  </div>
</div>
